%ul
-@interview_questions.each do |question|
  = semantic_form_for InterviewAnswer.new, :remote => true, :html => { :id => "question_#{question.id}" } do |f|
    = f.inputs do
      %li= question.question_text
      = f.input :interview_question_id, :as => :hidden, :value => question.id
      = f.input :user_answer, :input_html => { :rows => 8 }, :label => false

    = f.actions do
      = f.action :submit, :button_html => { :class => "header_button", :disable_with => 'Wait...' }, :label => "save"

= semantic_form_for InterviewAnswer.new, :remote => true, :html => { :id => "user_data" } do |f|
  = f.inputs do
    = f.input :user_email, :label => "Email (optional)"

  = f.actions do
    = f.action :submit, :button_html => { :class => "header_button", :disable_with => 'Wait...' }, :label => "save"
