%h3.arrow_bg Contact
.arrow_bg_left
= flash[:success]
= semantic_form_for RequestMessage.new do |f|
  = f.inputs do
    = f.input :email
    = f.input :name
    = f.input :message
  = f.actions do
    = f.action :submit
