#eye_catcher
  .shadow
  .container.eye_catcher_top
    .headlines
      %p Social Recruiting
      %p.less= t('.slogan')
    .span6
      %ul.pitch_eyecatcher
        %li= t('.pitch_1') 
        %li= t('.pitch_2') 
        %li= t('.pitch_3')
    .span6
      #get_member_arrow
      = link_to survey_path, class: "cta_button" do
        %span Zur Umfrage