#pitch
  .container
    .span4
      = image_tag("blank.gif", class: "icon_search_optimization")
      %h3= t('.search_optimization')
      %p= t('.search_optimization_pitch') 

    .span4
      = image_tag("blank.gif", class: "icon_better_network")
      %h3= t('.wide_network')
      %p= t('.wide_network_pitch')
    .span4
    
      = image_tag("blank.gif", class: "icon_working")
      %h3= t('.know_how')
      %p= t('.know_how_pitch')