#team
  .container
    .content_headlines
      %h1 About
      %h3 Das Team stellt sich vor
    .profile
      .picture
        = image_tag("blank.gif", class: "profile_max")
      .description
        %h3 Maximilian Woltersdorf
        %p= t('.profile_max') 
        .social
          %span= mail_to "maximilian.woltersdorf@wecruiting.de", image_tag("blank.gif", class: "mail_icon")
          %span= link_to image_tag("blank.gif", class: "xing_icon"), "https://www.xing.com/profile/Maximilian_Woltersdorf", target: "_blank"
    .profile
      .description
        %h3 Roman Schneider
        %p= t('.profile_roman') 
        .social
          %span= mail_to "roman.schneider@wecruiting.de", image_tag("blank.gif", class: "mail_icon")
          %span= link_to image_tag("blank.gif", class: "xing_icon"), "https://www.xing.com/profile/Roman_Schneider36", target: "_blank"
      .picture
        = image_tag("blank.gif", class: "profile_roman")
    .profile
      .picture
        = image_tag("blank.gif", class: "profile_wladimir")
      .description
        %h3 Wladimir Kusnezow
        %p= t('.profile_wlad') 
        .social
          %span= mail_to "wladimir.kusnezow@wecruiting.de", image_tag("blank.gif", class: "mail_icon")
          %span= link_to image_tag("blank.gif", class: "xing_icon"), "https://www.xing.com/profile/Wladimir_Kusnezow", target: "_blank"