= render 'public/eye_catcher'
= render 'public/pitch'
= render 'public/about'
.devider_team= image_tag("blank.gif", class: "devider_logo")
= render 'public/team'
.devider= image_tag("blank.gif", class: "devider_logo")
= render 'public/contact'