= render 'eye_catcher'
= render 'pitch'
.devider= image_tag("blank.gif", class: "devider_logo")
= render 'about'
.devider= image_tag("blank.gif", class: "devider_logo")
= render 'team'
.devider= image_tag("blank.gif", class: "devider_logo")
= render 'contact'