.container
  %h1.big_headline Umfrage
  
  = semantic_form_for InterviewAnswer.new do |f|
    = f.inputs do
      %ul
        =# render @interview_questions # --> ist noch ein Partial von Max. wird von mir nicht benutzt, da man sonst vom Partial aus nicht auf f-variable zugreifen kann
        -@interview_questions.each do |question|
          %li= question.question_text

          -# 
          -# hier ist noch ein Fehler! Es muss für jede Frage ein eigenes Antwort-Input geben. 
          -# Sonst wird immer das letzte genommen/abgespeichert, da die name-Attribute immer gleich sind und überschrieben werden.
          -# Es soll ja aber für jede Antwort ein Record in der DB abgespeichert werden.
          -# 
          = f.input :interview_question_id, :as => :hidden, :value => question.id
          = f.input :user_answer, :input_html => { :rows => 8 }, :label => false
        
        -# Das passt ...
        = f.input :user_email, :label => 'Email (optional)'
        = f.input :newsletter, :label => 'Newsletter anfordern'

    = f.actions do
      = f.action :submit, :button_html => { :class => "header_button", :disable_with => 'Wait...' }, :label => "send"
