!!!
%html
	%head
		%title WeCruiting
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.container
			%header
				.title
					= link_to customers_root_path do
						.slogan
							%h2 WeCruiting
							%i You are hiring? we' cruiting!
				%ul.nav.nav-pills
					%li= link_to "Berwerber Vorschläge", '#'
					%li= link_to "Meine Stellenausschreibungen", customers_departments_path
					%li= link_to "Profil", '#'
					%li= link_to "Logout", destroy_customer_session_path, :method => "delete"
				.tabbable.tabs-left
					%ul.nav.nav-tabs
						%h5 Abteilungen
						= render @departments, :view => 'layout'
						%li= link_to "Hinzufügen", new_customers_department_path
			= yield

	%footer
		%p Copyright 2012 by Maximilian Woltersdorf
		.tabbable.tabs-below
			.ul.nav.nav-tabs
				= link_to "Impressum", '#'
				|
				= link_to "About", '#'
