!!!
%html
  %head
    %title WeCruiting
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .container
        .span3
          = link_to root_path do
            #logo
        .span8
          %ul.nav_top
            %li= link_to "FÜR UNTERNEHMEN", '#', class: "header_button"
            %li= link_to "FÜR WECRUITER", '#', class: "header_button"
            %li= link_to "KONTAKT", '#', class: "header_list", :anchor => "contact"
            %li.dropdown
              = link_to "#", :class => "dropdown-toggle", :data => { :toggle => 'dropdown'} do
                LOGIN
                %b.caret
              %ul.dropdown-menu
                = link_to "Kunde", new_customer_session_path, :class => "popup", :remote => true
                %br
                = link_to "Wecruiter", new_consumer_session_path, :class => "popup", :remote => true
    
    = render 'eye_catcher'
    = render 'pitch'
    .devider= image_tag("blank.gif", class: "devider_logo")
    = render 'about'
    .devider= image_tag("blank.gif", class: "devider_logo")
    = render 'team'
    .devider= image_tag("blank.gif", class: "devider_logo")
    = render 'contact'     

    %footer
      .shadow
      .container
        %ul
          %li= link_to "Impressum", '#'
          %li= link_to "Kontakt", '#'
          %li= link_to "About", '#'
    
    .content
      .container
        = yield

