!!!
%html
  %head
    %title talentCrowd
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .container
        #languages
          %span= link_to(image_tag("flag_de.png", :size => "14x11", :border => 0), locale: "de")
          %span= link_to(image_tag("flag_en.png", :size => "14x11", :border => 0), locale: "en")
        .span3
          = link_to root_path do
            #logo
        .span8
          %ul.nav_top
            %li= link_to t('.for_customer') , root_path, class: "header_button"
            %li= link_to t('.for_wecruiter'), root_path, class: "header_button"
            %li= link_to t('.contact'), '#contact', class: "header_list"
            //%li.dropdown
            //=# link_to "#", :class => "dropdown-toggle", :data => { :toggle => 'dropdown'} do
            //=# t('.login')
            //%b.caret
            //%ul.dropdown-menu
            //=# link_to "Kunde", new_customer_session_path, :class => "popup", :remote => true
            //%br
            //=# link_to "Wecruiter", new_consumer_session_path, :class => "popup", :remote => true
    
  
    = yield
      
    %footer
      .shadow
      .container
        %ul
          %li= link_to t('.imprint'), imprint_path
          %li= link_to t('.contact'), '#'
          %li= link_to t('.about'), '#'
    


